body, html {
  background-color: white  !important;
  text-align: center;
}

.headline {
    text-align: center;
    float : center;
    
}

.middlepart {
    column-count: 2;
}

.btn {
    align: left;
}





.row2 p {
     text-align: left;
}